{{ $ := .root }}
{{ $page := .page }}
{{ $posts_len := len (where (where $.Site.RegularPages "Type" "post") ".Params.notonhomepage" nil) }}

<!-- Blog Posts widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">

    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>


  </div>
      <div class="col-sm-7">
      <!--  <h3>{{ i18n "education" | markdownify }}</h3>-->
        <h2> Mphasis, R & D, NEXT Labs</h2>
        <h3 align="left"> Software Engineer, December 2015 - August 2017 </h3>
        <ul class="ul list">
      <li>  Optimized algorithms using distributed framework (Apache Spark) and R programming language which resulted in decreasing the execution time by 20 folds </li>
      <li>  Migration of analytic solutions to cloud based platforms (AWS) for production level </li>
      <li>  Developed algorithm based on Natural Language Processing for Cognitive Computing Platform </li>
      <li>  Automation of Amazon Web Services based solutions for interaction between EC2, S3 and local servers for synchronization </li>
      <li>  Created a functional user interface oriented workflow for NLP algorithms for identifying the best sequence of algorithms for different datasets </li>
      <li>  Built Random Walk based automata algorithm for Pattern Extraction from sequence data </li>
       </ul>
      <h2> Mphasis, R & D, NEXT Labs</h2>
        <h3 align="left"> Intern, July 2015 - September 2015 </h3>
        <ul class="ul list">
      <li>  Optimized algorithms using distributed framework (Apache Spark) and R programming language which resulted in decreasing the execution time by 20 folds </li>
      <li>  Migration of analytic solutions to cloud based platforms (AWS) for production level </li>
      <li>  Developed algorithm based on Natural Language Processing for Cognitive Computing Platform </li>
      <li>  Automation of Amazon Web Services based solutions for interaction between EC2, S3 and local servers for synchronization </li>
      <li>  Created a functional user interface oriented workflow for NLP algorithms for identifying the best sequence of algorithms for different datasets </li>
      <li>  Built Random Walk based automata algorithm for Pattern Extraction from sequence data </li>
       </ul>



      </div>

</div>
