{{ $ := .root }}
{{ $page := .page }}
{{ $posts_len := len (where (where $.Site.RegularPages "Type" "post") ".Params.notonhomepage" nil) }}

<!-- Blog Posts widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">

    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>


  </div>
      <div class="col-sm-7">
      <!--  <h3>{{ i18n "education" | markdownify }}</h3>-->
      <ul class="ul list0">
      <i class="fa-li fa fa-graduation-cap"></i>
        <h2> Mphasis, R & D, NEXT Labs</h2>
        <h3 align="left"> Intern, July 2015 - September 2015 </h3>
        <ul class="ul list">
      <li> Apache Spark Framework </li>

        </ul>
      </ul>
      </div>

</div>
